USE [TEST]
GO
/****** Object:  StoredProcedure [dbo].[TEST]    Script Date: 11/8/2024 1:38:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[TEST] AS 


BEGIN

END

GO
