USE [TEST]
GO
/****** Object:  View [dbo].[TEST]    Script Date: 11/8/2024 1:37:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE                     VIEW [dbo].[TEST] AS 

SELECT ID, VALUE
FROM TEST

GO
